/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#000000,#001f3f,#003366);
color:white;
overflow-x:hidden;
}

/* Navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(0,0,0,0.8);
backdrop-filter:blur(10px);
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:28px;
font-weight:700;
color:gold;
text-shadow:0 0 10px gold;
}

.nav-links{
display:flex;
list-style:none;
gap:20px;
}

.nav-links a{
text-decoration:none;
color:white;
font-weight:500;
transition:0.3s;
}

.nav-links a:hover{
color:gold;
}

/* Hero Section */

.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,0.5),
rgba(0,0,0,0.5)),
url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?w=1600");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero-content{
max-width:800px;
background:rgba(255,255,255,0.08);
padding:40px;
border-radius:20px;
backdrop-filter:blur(10px);
}

.hero h1{
font-size:60px;
color:gold;
margin-bottom
  .gallery-item img{
    width:100%;
    height:120px;
    object-fit:cover;
    border-radius:10px;
  }
